.container
    .jumbotron
        h1 disini.id

    .row
        .col-md-12
            div(ng-include="'/partials/featured'")
    .row
        .col-md-12
            div(ng-include="'/partials/new'")
