.navbar-right(ng-controller="mvLoginCtrl")
    form.navbar-form(ng-hide="user.isAuthenticated()")
        .form-group
            input.form-control(placeholder="Email", ng-model="username")
        .form-group
            input.form-control(type="password", placeholder="Password", ng-model="password")
        button.btn.btn-primary(ng-click="signin(username, password)") Signin
    
    ul.nav.navbar-nav.navbar-right(ng-show="user.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{ user.currentUser.firstName + " " + user.currentUser.lastName }}
                b.caret
            ul.dropdown-menu
                li(ng-show="user.currentUser.isAdmin()")
                    a(href="/admin/user ") User Admin
                li
                    a(href="", ng-click="signout()") Sign Out
