.container
    .jumbotron
        h1 blacksquid

    .row
        .col-md-12
            div(ng-include="'/partials/main/panel-featured-place'")
    .row
        .col-md-12
            div(ng-include="'/partials/main/panel-new-place'")
